openapi: 3.2.0
info:
  title: Offendersearch Team API
  version: 1.0.0
  description: National sex-offender search across all US states and territories, unified behind one API.
servers:
- url: https://api.offendersearch.app
security:
- ApiKeyAuth: []
tags:
- name: Team
paths:
  /v1/team:
    get:
      operationId: getTeam
      summary: Team members (single-owner org today)
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Team members (one owner row).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamMember'
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
      - Team
    post:
      operationId: inviteMember
      summary: Invite a team member (not available — single-owner)
      security:
      - BearerAuth: []
      responses:
        '400':
          description: Team invitations aren't available yet (accounts are single-owner).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
      - Team
  /v1/team/{memberId}:
    delete:
      operationId: removeMember
      summary: Remove a team member (not available — single-owner)
      security:
      - BearerAuth: []
      parameters:
      - name: memberId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Team member management isn't available yet (accounts are single-owner).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
      - Team
components:
  schemas:
    Error:
      type: object
      description: Standard FastAPI error body.
      properties:
        detail:
          type: string
          description: Human-readable error message.
          example: Missing or invalid API key. Send it in the X-API-Key header.
    TeamMember:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum:
          - owner
        status:
          type: string
          enum:
          - active
        invitedAt:
          type: string
          format: date-time
        lastActiveAt:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Missing or invalid credential.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Customer API key. Primary auth for search/records/compat/proof.
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Signed session token (HMAC-SHA256). Auth for account/dashboard endpoints; also accepted by POST /v1/search and the compat endpoint.

        '
    QueryKeyAuth:
      type: apiKey
      in: query
      name: key
      description: API key passed as `?key=` — offenders.io demo mode (compat endpoint only).
    AdminAuth:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: Internal admin credential — separate from customer API keys.
